/*
 * Announcment Bar Styles
 */

.nav-flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;
	padding: 10px;
	list-style-type: none;
	font-size: 16px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid black;

	li {
		text-align: center;
	}

	@media (max-width: 760px) {
		display: none;
	}
}

.nav-brand-flex {
	height: 35px;
	width: 35px;
	margin-right: 5px;
	border-left: 0;

	a {
		img {
			width: 35px;
		}
	}
}

.nav-link-flex {
	flex: 1;
	-webkit-flex: 1;
	min-width: 175px;
	border-left: 3px solid white;

	a {
		text-decoration: none;

		&:hover {
			color: black;
		}
	}

	&:hover {
		background-color: white;
	}
}

.nav-action-flex {
	text-align: center;
	flex: 3 3 450px;
	-webkit-flex: 3 3 450px;
	border-left: 3px solid white;

	a {
		text-decoration: none;

		&:hover {
			color: black;
		}
	}

	&:hover {
		background-color: white;
	}

	button {
		background-color: #be3912;
		margin-left: 30px;
		border: 0 none;
		border-radius: 4px;
		color: #FFFFFF;
		cursor: pointer;
		font-size: 15px;
		font-weight: bold;
		height: 27.5px;
		padding: 0 22px;
		text-align: center;
		text-decoration: none;
	}
}

#nav-announcement {
	background: -webkit-linear-gradient(top, #F0F0F0 0%, black 75%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#F0F0F0, #e0dddb); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#F0F0F0, #e0dddb); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#F0F0F0 25%, #e0dddb 100%); /* Standard syntax */
}

.active-site {
	background-color: white;
}