.navbar {background-color: #494949 !important;margin-bottom: 0 !important;border-radius: 0 !important;border:none !important;}
.navbar-default .navbar-nav {font-weight: 300;font-family: 'Open Sans', sans-serif;}
.navbar-default .navbar-nav > li > a {color:white !important;}
.navbar-brand {font-weight: 300;margin-bottom: 0;font-size:24px;color:white;}
.navbar-default .navbar-brand {color:white !important;font-family: 'Open Sans';letter-spacing: 1px;height:49px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background-color: #eee;}
.navbar-default .navbar-toggle .icon-bar {background-color:white;}
.recommend-text {text-align: center;}
.recommend-text h1 {margin-top:0;margin-bottom:20px;color:black;font-weight: 300;}
.nav li a:hover {color:black;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:white;}

#twitter-menu {height:50px;}
#twitter-menu a {padding-top:13px;padding-bottom:13px;}
#twitter-menu a img, #facebook-menu a img {width:30px;height:24px;}

.blog-title {font-family:"Open Sans",sans-serif;font-weight: 100;font-size:10rem;margin:10px auto 10px auto;/* text-shadow: 1px 1px 5px #7b7b7b; */}
.blog-description {font-family:"Open Sans",sans-serif;font-size:20px;/* text-shadow: 1px 1px 1px #7b7b7b; */}

.tableImage a img {max-width: 100%;height:auto;}

.navbar {display:none;}
.content {display:none;margin-top: 25px;}

.index-content {margin-top: 0;}
#home-main-header {background-color: #2f8cde;text-align: center;color:white;}
#home-header {margin-top: 0;padding-top:20px;letter-spacing: 2px;font-family: 'Ubuntu', sans-serif;}
#homeDesc {margin:auto;font-size: 16px;width:80%;line-height: 1.75;text-align: left;max-width: 1000px;font-family: "Open Sans",sans-serif;}

#homeContent, #indexTable {height:600px;}

.arrow-down-2 {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent; 
	border-right: 40px solid transparent;	
	border-top: 30px solid #2f8cde;
	margin:auto;
}