/*
 * Post Styles
 */

.shareIcons {
    h4 {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        padding: 12px;
        background-color: #9575cd;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
}

.post-title {
    font-size: 3.5em;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;

    @media (max-width: 550px) {
        font-size: 2.5em;
    }
}

.post-template .post-header {
    padding: 0;
}

.post-content {
    h3 {
        font-size: 24px;
    }
}

.next-steps {
    margin-top: 35px;
    border: 1px solid #494949;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    .next-steps-header {
        margin: 0;
        font-size: 26px;
        font-weight: bold;
        font-family: inherit;
        padding-bottom: 15px;
    }
    .next-steps-step {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #428bca;
    }
    .next-steps-info {
        padding-bottom: 10px;
    }
}
